<main class="container">
  <div class="row text-center justify-content-center my-2">
    <div class="col">
      <h1 class="display-6">The Jagolvi Dynamic Ventures Website Is Coming Soon!</h1>
    </div>
  </div>

  <div class="row text-center justify-content-center my-2">
    <div class="col-md-6 my-5 temp-custom-section">
      <h1 class=" display-4 my-5">SITE UNDER CONSTRUCTION</h1>
    </div>

    <div class="col-md-6">
      <%= image_tag('Under Construction Image.png', alt: 'Under Construction Image', class: 'img-fluid mb-3') %>
    </div>

  </div>
</main>