.navbar-nav .nav-item {
    margin-left: 60px;
    margin-right: 60px; 
}

/* Show the dropdown menu on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}


.index-row-2 {
    /* background styling */
    background-color: #1f1f1f; 
    padding: 20px; 
    border-radius: 8px; 

    /* text styling  */
    font-family: 'Arial', sans-serif;
    color: #e7e3e3;
}

/*
body {
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    color: #333; 
    line-height: 1.6; 
}
*/