.navbar-nav .nav-item {
    margin-left: 60px;
    margin-right: 60px; 
}

/* .custom-navbar {
    background-color: #cce5ff; 
    border-bottom: 2px solid #b8daff; 
}  
.nav-link {
    color: #0056b3; 
}
  
.nav-link:hover, .nav-link.active {
    color: #003d80; 
} */

.temp-custom-section {
    background-color: #cce5ff; /* Black background */
    padding: 20px; /* Add padding for spacing */
    border-radius: 8px; /* Optional: rounded corners */
}

/*
body {
    font-family: 'Arial', sans-serif; 
    font-size: 16px; 
    color: #333; 
    line-height: 1.6; 
}
*/